<app-sidebar> </app-sidebar>


<div class="testbox">
    <form action="/">
      <div class="banner">
        <h1> WAREHOUSE CHECKING</h1>
      </div>
      <div class="item">
  
        <div class="name-item">
        
        </div>
      </div>
     
      <div class="item">
     
        <div class="city-item">

    

          <select>
            <option value="">District</option>
            <option value="1">Thiruvanathapuram</option>
            <option value="2">Kollam</option>
            <option value="3">Pathanamthitta</option>
            <option value="4">Alappuzha</option>
            <option value="5">Kottayam</option>
  
            <option value="1">Idukki</option>
            <option value="2">Eranakulam</option>
            <option value="3">Thrissur</option>
            <option value="4">Palakkad</option>
            <option value="5">Malappuram</option>
            <option value="2">Kozhikode</option>
            <option value="3">Wayanad</option>
            <option value="4">Kannur</option>
            <option value="5">Kasargod</option>
          </select>
          <select>
            <option value="">Warehouse</option>
            <option value="1">vijay godown</option>
            <option value="2">rashmika godown</option>
            <option value="3">KSWC godown </option>
            <option value="4">shanmukam godown</option>
            <option value="5">MR godown</option>
          </select>
        </div>
      </div>
    
      
      <div class="btn-block">
        <button type="submit" href="/">SEARCH</button>
      </div>


      <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Item</th>
              <th scope="col">Availability</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td>Mark</td>
              <td>Otto</td>
  
            </tr>
            <tr>
              
              <td>Jacob</td>
              <td>Thornton</td>
  
            </tr>
           
          </tbody>
        </table>


    </form>

  </div>
