<app-sidebar> </app-sidebar>


<div class="testbox">
    <form method="POST" #userlogin="ngForm" (ngSubmit)="OnSubmit(userlogin.value)">
      <div class="banner">
        <h1> WAREHOUSE CHECKING</h1>
      </div>
      <div class="item">
  
        <div class="name-item">
        
        </div>
      </div>
     
      <div class="item">
     
        <div class="city-item">

    

          <select name="district" (change)=onchange($event) ngModel>
            <option value="">District</option >
            <option value="Thiruvanathapuram">Thiruvanathapuram</option>
            <option value="Kollam">Kollam</option>
            <option value="Pathanamthitta">Pathanamthitta</option>
            <option value="Alappuzha">Alappuzha</option>
            <option value="Kottayam">Kottayam</option>
  
            <option value="Idukki">Idukki</option>
            <option value="Ernakulam">Ernakulam</option>
            <option value="Thrissur">Thrissur</option>
            <option value="Palakkad">Palakkad</option>
            <option value="Malappuram">Malappuram</option>
          </select>
          <select name="title" ngModel>
            
            <option *ngFor="let x of gtitle" value="{{x.title}}">{{x.title}}</option>
            
          </select>
        </div>
      </div>
    
      
      <div class="btn-block">
        <button type="submit" href="/">SEARCH</button>
      </div>


      <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Item</th>
              <th scope="col">Availability</th>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of searchr">
              
              <td>{{x.coomodity}}</td>
              <td>{{x.capacity}}</td>
  
            </tr>
            

          </tbody>
        </table>


    </form>

  </div>
